<%- include('../../fragments/header.ejs') %>
        <main>
            <h2><%= pageTitle %></h2>
            <form method="post" action="<%= formAction %>" class="form" novalidate onsubmit="return validateForm();">
                <input type="hidden" name="_id" id="_id" value="<%= emp._id %>">

                <label for="firstName">Imie: <span class="symbol-required">*</span></label>
                <input type="text" name="firstName" id="firstName" required value="<%= emp.firstName %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <span id="errorFirstName" class="errors-text"></span>

                <label for="secondName">Nazwisko: <span class="symbol-required">*</span></label>                
                <input type="text" name="secondName" id="secondName" required value="<%= emp.secondName %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <span id="errorSecondName" class="errors-text"></span>

                <label for="email">Email: <span class="symbol-required">*</span></label>                
                <input type="email" name="email" id="email" required value="<%= emp.email %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <span id="errorEmail" class="errors-text"></span>

                <label for="phoneNumber">Telefon: <span class="symbol-required">*</span></label>                
                <input type="tel" name="phoneNumber" id="phoneNumber" required value="<%= emp.phoneNumber %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <span id="errorPhoneNumber" class="errors-text"></span>

                <label for="birthdate">Data urodzenia: </label>                
                <input type="date" name="birthdate" id="birthdate" value="<%= emp.birthdate ? emp.birthdate.toISOString().split('T')[0] : '' %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <span id="errorBirthdate" class="errors-text"></span>
                
                <% if (formMode == 'showDetails') { %>
                <div>
                    <a href="/employee/edit/<%= emp._id %>" class="button-edit">Edytuj</a>
                </div>
                <% } %>

                <% if (formMode == 'showDetails' || formMode == 'edit') { %>
                    <h2>Szczegoly zatrudnienia</h2>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Opis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let e of emp.departments) { %>
                                <tr>
                                    <td><a href="/departments/details/<%= e._id %>"><%= e.name %></a></td>
                                    <td><%= e.description %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>

                <div class="form-buttons">
                    <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                    <input type="submit" value="<%= btnLabel %>" class="form-button-submit">
                    <a href="/employee" class="form-button-cancel">Anuluj</a>
                <% } else { %>
                    <a href="/employee" class="form-button-cancel">Powrot</a>
                <% } %>
                </div>
            </form>
        </main>
<%- include('../../fragments/footer.ejs') %>